@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Localization;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    int? test = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
    int test2 = 2;

    string lang = HttpContextAccessor.HttpContext.Request.Cookies["lang"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManagment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentManagment.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/picker.min.css">
    <link href="~/summernote/summernote.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js">
    </script>

    <script src="~/signalr.js"></script>
</head>
<body>
    <div id="ChangeLanguageModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Language</h5>
                    <button type="button"
                            class="btn-close btn-close-custom"
                            data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @*<form id="change-language-form">
                    <div class="row">
                    <div class="col-md-12 col-6 col-sm-6 mb-4" id="dropdown-div">
                    <div class="change-language-modal-div">
                    <select id="language-dropdown"
                    class="form-control change2" translate="no">
                    <option value="">Select Language</option>
                    <option value="en">English</option>
                    <option value="fr">France</option>
                    <option value="ace">Acehnese</option>
                    <option value="de">German</option>
                    <option value="hi">Hindi</option>
                    <option value="gu">Gujarati</option>
                    <option value="zh-TW">Chinese (Traditional)</option>
                    <option value="mr">Marathi</option>
                    </select>
                    <i class="fa fa-angle-down"
                    id="send-order-dropdownarrow"></i>
                    </div>
                    <div class="error-message" id="error-message" style="color: red; display: none;"></div>

                    </div>
                    <div class="gap-2 d-md-flex justify-content-center justify-content-md-end pt-4 submit-cancel-btn">
                    <button class="btn btn-primary me-md-2 submit-btn" type="submit">
                    Submit
                    </button>
                    <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" type="button">
                    Cancel
                    </button>
                    </div>
                    </div>
                    </form>
                    *@
                    @*  <form method="get" asp-controller="Home" asp-action="ChangeLanguage" id="change-language">
                    <div class="row">
                    <div class="col-md-12 col-6 col-sm-6 mb-4" id="dropdown-div">
                    <div class="change-language-modal-div">
                    <select id="resource-language-dropdown"
                    name="culture"
                    class="form-control change2" translate="no" onchange="this.form.submit()">
                    <option value="en-US"  >English</option>
                    <option value="es-ES">Español</option>
                    <option value="fr-FR">Français</option>

                    </select>
                    <i class="fa fa-angle-down"
                    id="send-order-dropdownarrow"></i>
                    </div>
                    <div class="error-message" id="error-message" style="color: red; display: none;"></div>

                    </div>
                    <div class="gap-2 d-md-flex justify-content-center justify-content-md-end pt-4 submit-cancel-btn">
                    <button class="btn btn-primary me-md-2 submit-btn" type="submit">
                    Submit
                    </button>
                    <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" type="button">
                    Cancel
                    </button>
                    </div>
                    </div>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@localizer["StudentManagment"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav login-nav-ul flex-grow-1">
                      @*  <li class="nav-item me-3">
                            <div id="google_translate_element" class="d-none"></div>
                            <div>
                                <button type="button" id="change-language-btn" translate="no">Lang</button>
                            </div>
                        </li>*@
                        <li class="nav-item me-3">
                            <partial name="_ChangeLangDropdown" />
                        </li>
                        <li class="nav-item blog-link">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 p-2">
        @RenderBody()
    </main>
    <div id="popup"></div>
    <footer class="d-flex justify-content-between gap-5" style="background-color:#172b4c;">
        <div class="footer-first-div">
            <h1 style="color:white; font-weight:bold">@localizer["Let's Talk"]</h1>
            <span class="mt-2 footer-detail-span" style="color:white;">
                @localizer["Footer-Detail"]
            </span>
            <div class="mt-3">
                <button onclick="location.href='@Url.Action("Login","Login")'" class="btn" style="background-color:#14ad66; color:white; width:auto;">@localizer["Click to Login"] </button>
            </div>
        </div>
        <div class="footer-second-div gap-3">
            <div class="d-flex gap-5 justify-content-start">
                <span>@localizer["Email"] :</span>
                <span style="color:#0e70c5;">dabhoyakishan12#gmial,com</span>
            </div>
            <div class="d-flex gap-5 justify-content-start">
                <span>@localizer["Phone"] :</span>
                <span style="color:#0e70c5;">(+91) 7845123690</span>
            </div>
            <div class="d-flex gap-5 justify-content-start">
                <span>@localizer["Address"] :</span>
                <span style="color:#0e70c5;">
                    @localizer["AddressProof"]
                </span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/js/picker.min.js"></script>
    <script src="~/summernote/summernote.js"></script>

    <script src="~/signalr.js"></script>
    <script src="~/signalr.min.js"></script>
    <script src="~/js/site.js"></script>

    @* <script src="~/signalr.js"></script>
    <script src="~/signalr.min.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)


    <script async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }

        $('#change-language-btn').on('click', function () {
            $('#ChangeLanguageModal').modal("show");
        });

        //function setValue() {
        //    setTimeout(() => {
        //        const combo = document.querySelector('.goog-te-combo');

        //        const dropdown = document.getElementById("language-dropdown");
        //        console.log(combo.value);
        //        if (combo.value.trim() === '') {
        //            dropdown.value = 'en';
        //        }
        //        else {
        //            dropdown.value = combo.value;
        //        }
        //        document.getElementById("change-language-btn").innerHTML = dropdown.value.toUpperCase();
        //        console.log(dropdown.value);
        //    }, 1000);
        //}

        //const observer = new MutationObserver(() => {
        //    const combo = document.querySelector('.goog-te-combo');
        //    if (combo) {
        //        observer.disconnect();
        //        setValue();
        //    }
        //});
        //observer.observe(document.body, { childList: true, subtree: true });

        $(document).ready(function () {

            const dropdown = document.getElementById("language-dropdown");
            const langValue = extractGuValue();
            if (langValue == null) {
                dropdown.value = 'en';
            } else {
                dropdown.value = extractGuValue();
            }
            document.getElementById("change-language-btn").innerHTML = dropdown.value.toUpperCase();

        });

        $('#change-language-form').on('submit', function (event) {
            event.preventDefault();

            const dropdown = document.getElementById("language-dropdown");
            const errorMessage = document.getElementById("error-message");

            errorMessage.style.display = 'none';
            errorMessage.innerHTML = '';

            if (!dropdown.value) {
                errorMessage.innerHTML = 'Please select a language.';
                errorMessage.style.display = 'block';
                return;
            }

            $('#ChangeLanguageModal').modal("hide");
            const combo = document.querySelector('.goog-te-combo');
            if (combo) {
                combo.value = dropdown.value;
                document.querySelector('.goog-te-combo').dispatchEvent(new Event('change'));
            }

            console.log(dropdown.value);
            if (dropdown.ariaValueMax == 'en') {
                document.getElementById("change-language-btn").innerHTML = 'EN';
            } else {
                document.getElementById("change-language-btn").innerHTML = dropdown.value.toUpperCase();
            }
        });


        function getCookieValue(cookieName) {
            const cookies = document.cookie.split('; ');
            for (let cookie of cookies) {
                const [name, value] = cookie.split('=');
                if (name === cookieName) {
                    return value;
                }
            }
            return null;
        }

        function extractGuValue() {
            const cookieValue = getCookieValue('googtrans');
            if (cookieValue) {
                const parts = cookieValue.split('/');
                return parts[2];
            }
            return null;
        }

        const guValue = extractGuValue();
        console.log("cookie value ", guValue);
    </script>

    <script type="text/javascript">

        //function googleTranslateElementInit() {
        //    new google.translate.TranslateElement({ pageLanguage: 'ab' }, 'google_translate_element');
        //    document.querySelector('.goog-te-combo').value = 'ab';
        //    document.querySelector('.goog-te-combo').dispatchEvent(new Event('change'));

        //}

        //function getFragmentParameter(name) {
        //    const hash = window.location.hash.substring(1);
        //    const params = new URLSearchParams(hash);
        //    return params.get(name);
        //}
        //setTranslatedText('fr');

        //function googleTranslateElementInit() {
        //    const lang = getTranslatedText() || 'ace';
        //    console.log(lang);
        //    google.translate.TranslateElement({ pageLanguage: 'ace' }, 'google_translate_element');
        //    document.querySelector('.goog-te-combo').value = lang;

        //    document.querySelector('.goog-te-combo').addEventListener('change', function () {
        //        const selectedLang = this.value;
        //        //setTranslatedText(selectedLang);
        //    });

        //    document.querySelector('.goog-te-combo').dispatchEvent(new Event('change'));


        //}


        //function setTranslatedText(text) {
        //    const urlParams = new URLSearchParams(window.location.search);
        //    urlParams.set('translatedText', text);
        //    history.replaceState({}, '', '?' + urlParams.toString());
        //}

        //function setTranslatedText(lang) {
        //@ViewBag.TranslatedLanguageCode = lang;
        //}

        //function getTranslatedText() {
        //    var langCode = "@ViewBag.TranslatedLanguageCode"; // Replace with your ViewBag variable name
        //    return langCode || "ace";
        //}
        //function getTranslatedText() {
        //    const urlParams = new URLSearchParams(window.location.search);
        //    return urlParams.get('translatedText').toString() || '';
        //}

    </script>



</body>
</html>
