@{
    ViewData["Title"] = "Home Page";
}
@model StudentManagment.Models.StudentViewModel
<div class="container main-container">
    <table class="table table-dark table-borderless">
        <thead>
            <tr>
                <th scope="col">StudentId</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Course</th>
                <th scope="col">UserName</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.StudentId</td>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.BirthDate</td>
                <td>@Model.CourseName</td>
                <td>@Model.UserName</td>
                <td style="vertical-align: middle; text-align: center">
                    <button class="downloads-btn table-download-btn" onclick="location.href='@Url.Action("CreateUpdateStudent","Home", new {StudentId = Model.StudentId})'">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
