@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model StudentManagment.Models.EmailViewModel

<div id="SendEmailModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.ScheduledEmailId != 0)
                {
                    <h5 class="modal-title">Edit ScheduledEmail</h5>
                }
                else
                {
                    <h5 class="modal-title">Send Email</h5>
                }
                <button type="button"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form style="border:none !important;" method="post" asp-action="SendEmail" asp-controller="Home" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ScheduledEmailId" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12 mb-4 d-flex justify-content-end">
                            <div class="checkbox ">
                                <label>
                                    Send to All Students : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @*<input id="select-all-checkbox" type="checkbox" @(Model.StudentId == 0 ? "checked" : "")>*@
                                </label>
                                <label class="switch">
                                    <input id="select-all-checkbox" type="checkbox" @(Model.StudentId == 0 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 col-6 col-sm-6 mb-4" id="dropdown-div">
                            <div class="my-profile-input_box">
                                <select id="email-dropdown"
                                        asp-for="StudentId"
                                        class="form-control change2">
                                    <option value="">Select Student</option>
                                    @foreach (var email in Model.StudentsEmails)
                                    {
                                        if (!string.IsNullOrEmpty(email.Email))
                                        {
                                            <option value="@email.StudentId">@email.FirstName @email.LastName</option>
                                        }
                                    }
                                </select>
                                <i class="fa fa-angle-down"
                                   id="send-order-dropdownarrow"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="StudentId"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group form-floating input-subject mb-3">
                                <input type="text"
                                       class="form-control input-lg"
                                       id="floatingSubject"
                                       asp-for="Subject"
                                       placeholder="Subject" />
                                <label for="floatingSubject">Subject</label>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mb-4">
                            <div class="form-group form-floating">
                                <input type="date"
                                       class="form-control"
                                       id="floatingDate"
                                       asp-for="SentDate"
                                       placeholder="Date" />
                                <label for="floatingDate">Date</label>
                                <span asp-validation-for="SentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-floating pb-3">
                                <textarea class="form-control"
                                          id="summernote"
                                          asp-for="Body"
                                          placeholder="Multiple Line"></textarea>
                                <span asp-validation-for="Body" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-12 col-lg-12">
                            <div class="mt-3 sendemailbtn-div">
                                <button class="sendemailbtn d-flex gap-2">
                                    <span class=" d-none d-sm-block d-md-block d-lg-block">Upload</span>
                                </button>
                                <input id="attachementFile" asp-for="AttachmentFiles" data-max_length="20" type="file" multiple accept=".jpg,.png,.pdf">


                            </div>
                            <div class="upload__img-wrap"></div>
                            @if (Model.AttachmentsByte != null)
                            {
                                <div class="justify-content-between gap-2 mt-3" id="preview-image-div">
                                    @foreach (var file in Model.AttachmentsByte)
                                    {
                                        string imageBase64 = Convert.ToBase64String(file);
                                        string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                                        string contentType = "image/jpeg"; // Default to image/jpeg if unsure

                                        if (file.Take(4).SequenceEqual(new byte[] { 0x25, 0x50, 0x44, 0x46 })) // PDF magic number
                                        {
                                            contentType = "application/pdf";
                                            imageSrc = $"data:application/pdf;base64,{imageBase64}";
                                        }
                                        <div class="image-preview" id="image-preview-div">
                                            @if (contentType.StartsWith("image/"))
                                            {
                                                <img id="image" src="@imageSrc" alt="Current Image" width="200" height="200" />
                                            }
                                            else if (contentType == "application/pdf")
                                            {
                                                <img src="~/Images/pdf_image.jfif" alt="PDF Icon" width="200" height="200" />
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="gap-2 d-md-flex justify-content-center justify-content-md-end pt-4 submit-cancel-btn">
                        <button class="btn btn-primary me-md-2 submit-btn" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" type="button">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="~/summernote/summernote.css" rel="stylesheet" />
<script src="~/summernote/summernote.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            tabsize: 2,
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            callbacks: {
                onInit: function () {
                    // Disable editing for header and footer
                    $('#header, #footer').attr('contenteditable', false);
                }
            }
        });

        var selectedOption = $('#email-dropdown').find(':selected');
        var firstName = selectedOption.text();
        if (firstName === 'Select Student') {
            firstName = "All Students";
        }
        $('#to-email').text(firstName);
    });

    $("#email-dropdown").on("change", function () {
        var selectedOption = $('#email-dropdown').find(':selected');
        var firstName = selectedOption.text();
        if (firstName === 'Select Student') {
            firstName = "All Students";
        }
        $('#to-email').text(firstName);
    });

    $(document).ready(function () {
        var imageDiv = document.getElementById("preview-image-div");
        if (imageDiv != null) {
            imageDiv.style.display = "flex";
        }

        if ($("#select-all-checkbox").is(':checked')) {
            document.getElementById("dropdown-div").style.display = 'none';
            var firstOption = $("#email-dropdown option:first");
            firstOption.prop("selected", true);
            var selectedOption = $('#email-dropdown').find(':selected');
            var firstName = selectedOption.text();
            if (firstName === 'Select Student') {
                firstName = "All Students";
            }
            $('#to-email').text(firstName);
        }
    });

    var selectedText = $("#email-dropdown").find('option:selected').text();
    if ($("#select-all-checkbox").is(':checked')) {
        document.getElementById("dropdown-div").style.display = 'none';
        var firstOption = $("#email-dropdown option:first");
        firstOption.prop("selected", true);
        var firstName = "All Students";
        $('#to-email').text(firstName);
    } else {
        document.getElementById("dropdown-div").style.display = 'block';
        var firstOption = $("#email-dropdown option:first");
        firstOption.prop("selected", false);
    }

    $('#select-all-checkbox').on('change', function () {
        if ($(this).is(':checked')) {
            document.getElementById("dropdown-div").style.display = 'none';
            var firstOption = $("#email-dropdown option:first");
            firstOption.prop("selected", true);
            var selectedOption = $('#email-dropdown').find(':selected');
            var firstName = selectedOption.text();
            if (firstName === 'Select Student') {
                firstName = "All Students";
            }
            $('#to-email').text(firstName);
        } else {
            document.getElementById("dropdown-div").style.display = 'block';

        }
    });


    var isChecked = localStorage.getItem('selectAllCheckbox');
    if (isChecked === 'true') {
        $('#select-all-checkbox').prop('checked', true);
    }

    $('#select-all-checkbox').on('change', function () {
        localStorage.setItem('selectAllCheckbox', this.checked);
    });

    var fileTag = document.getElementById("attachementFile");

    fileTag.addEventListener("change", function () {

        if (this.files.length > 0) {
            changeImage(this);
        }
    });

    function changeImage(input) {

        if (input.files && input.files[0]) {
            console.log("inbside");
            console.log(imageDiv);

            imageDiv.style.display = "none";
        }
    }
</script>
