@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model StudentManagment.Models.EmailViewModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div id="SendEmailModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if(Model.ScheduledEmailId != 0)
                {
                    <h5 class="modal-title">Edit ScheduledEmail</h5>
                }
                else
                {
                    <h5 class="modal-title">Send Email</h5>
                }
                <button type="button"
                        class="btn-close btn-close-custom"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form style="border:none !important;" method="post" asp-action="SendEmail" asp-controller="Home">
                    <input type="hidden" asp-for="ScheduledEmailId"/>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12 mb-4 d-flex justify-content-end">
                            <div class="checkbox ">
                                <label>
                                    Send to All Students : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @*<input id="select-all-checkbox" type="checkbox" @(Model.StudentId == 0 ? "checked" : "")>*@
                                </label>
                                <label class="switch">
                                    <input id="select-all-checkbox" type="checkbox" @(Model.StudentId == 0 ? "checked" : "")>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 col-6 col-sm-6 mb-4" id="dropdown-div">
                            <div class="my-profile-input_box">
                                <select id="email-dropdown"
                                        asp-for="StudentId"
                                        class="form-control change2">
                                    <option value="">Select Student</option>
                                    @foreach (var email in Model.StudentsEmails)
                                    {
                                        if (!string.IsNullOrEmpty(email.Email))
                                        {
                                            <option value="@email.StudentId">@email.FirstName @email.LastName</option>
                                        }
                                    }
                                </select>
                                <i class="fa fa-angle-down"
                                   id="send-order-dropdownarrow"></i>
                            </div>
                            <span class="text-danger" asp-validation-for="StudentId"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group form-floating input-subject mb-3">
                                <input type="text"
                                       class="form-control input-lg"
                                       id="floatingSubject"
                                       asp-for="Subject"
                                       placeholder="Subject" />
                                <label for="floatingSubject">Subject</label>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mb-4">
                            <div class="form-group form-floating">
                                <input type="date"
                                       class="form-control"
                                       id="floatingDate"
                                       asp-for="SentDate"
                                       placeholder="Date" />
                                <label for="floatingDate">Date</label>
                                <span asp-validation-for="SentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-floating pb-3">
                                <textarea class="form-control"
                                          id="symptoms"
                                          rows="5"
                                          asp-for="Body"
                                          placeholder="Multiple Line"></textarea>
                                <label for="symptoms">Enter Body text</label>
                                <span asp-validation-for="SentDate" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="gap-2 d-md-flex justify-content-center justify-content-md-end pt-4 submit-cancel-btn">
                        <button class="btn btn-primary me-md-2 submit-btn" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" type="button">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        var selectedText = $("#email-dropdown").find('option:selected').text();
        $("#email-input").val(selectedText);
        if ($("#select-all-checkbox").is(':checked')) {
            document.getElementById("dropdown-div").style.display = 'none';
            var $firstOption = $("#email-dropdown option:first");
            $firstOption.prop("selected", true);
        } else {
            document.getElementById("dropdown-div").style.display = 'block';
            var $firstOption = $("#email-dropdown option:first");
            $firstOption.prop("selected", false);
        }
    });

    $('#select-all-checkbox').on('change', function () {
        if ($(this).is(':checked')) {
            document.getElementById("dropdown-div").style.display = 'none';
            var $firstOption = $("#email-dropdown option:first");
            $firstOption.prop("selected", true);
        } else {
            document.getElementById("dropdown-div").style.display = 'block';
        }
    });

    // $('#email-dropdown').on('change', function () {
    //    var selectedText = $(this).find('option:selected').text();
    //    $("#email-input").val(selectedText);
    //    console.log($("#email-input").val());
    //});

    var isChecked = localStorage.getItem('selectAllCheckbox');
if(isChecked === 'true') {
    $('#select-all-checkbox').prop('checked', true);
}

$('#select-all-checkbox').on('change', function() {
    localStorage.setItem('selectAllCheckbox', this.checked);
});
</script>